# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.google.token
.tts

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant.log
home-assistant_v2.db
.google_maps*
google_calendars.yaml
html5_push_registrations.conf
SERVICE_ACCOUNT.JSON